{% extends "base.html" %}

{% block title %}{{ book.title }} - {{ book.author }}{% endblock %}

{% block content %}
	{% if msg %}
	<div class="msg">{{ msg }}</div>
	{% endif %}
	
	{% if book %}
		<h1>{{ count }}</h1>
		<h2>{{ book.title }}</h2>
		<h3>{{ book.author }}</h3>
		
		{% if user_logged %}
		<div class="new_reviews">
		<form action="." method="put">
			Texto:
			<div class="form_field">
				<textarea name="text" cols="50"></textarea>
			</div>
			Puntuación:
			<div class="form_field">
				1: <input type="radio" value="1" name="stars"/>
				2: <input type="radio" value="2" name="stars"/>
				3: <input type="radio" value="3" name="stars"/>
				4: <input type="radio" value="4" name="stars"/>
				5: <input type="radio" value="5" name="stars"/>
			</div>
			<input type="submit" value="Enviar" />
		</form>
		</div>
		{% endif %}
		
		<div class="reviews">
		{% for review in book.reviews %}
		<div class="review">{{ review.stars }} -- {{ review.text }} -- {{ review.user.username }}</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}
