{% extends "base.html" %}

{% block title %}Gestión de Libros{% endblock %}

{% block content %}

	{% if book %}
	<div class="row">
		<div class="span12">
			<h1 class="page_title">{{ book.title }}</h1>
			<h3 class="page_subtitle">{{ book.author }}</h2>		
		</div>
		<div class="row">
			<div class="span5 offset1">
				{% if book.urlfile %}
					<img class="cover" src="{{ book.urlfile }}" />
				{% endif %}
			</div>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="span12">
		<h3 class="page_title">Cree un nuevo libro:</h3>
		<form action="." method="post" enctype="multipart/form-data">
			Título:
			<div class="form_field">
				<input type="text" name="title"/>
			</div>
			Autor:
			<div class="form_field">
				<input type="text" name="author"/>
			</div>
			Imagen:
			<div class="form_field">
				<input type="file" name="cover"/>
			</div>
			<input class="btn btn-primary" type="submit" value="Enviar" />
		</form>
		</div>
	</div>
	{% endif %}
{% endblock %}
