{% extends "base.html" %}

{% block title %}Gestión de Libros{% endblock %}

{% block content %}
	{% if msg %}
	<div class="msg">{{ msg }}</div>
	{% endif %}
	
	{% if book %}
		<h2>{{ book.title }}</h2>
		<h3>{{ book.author }}</h3>
		{% if book.urlfile %}
			<img class="cover" src="{{ book.urlfile }}" />
		{% endif %}
	{% else %}
		<h3>Cree un nuevo libro:</h3>
		<form action="." method="post" enctype="multipart/form-data">
			<div class="form_field">
				Título:<input type="text" name="title"/>
			</div>
			<div class="form_field">
				Autor:<input type="text" name="author"/>
			</div>
			<div class="form_field">
				Imagen:<input type="file" name="cover"/>
			</div>
			<input type="submit" value="Enviar" />
		</form>
	{% endif %}
{% endblock %}
