{% extends "base.html" %}

{% block title %}Looleo{% endblock %}

{% block content %}
	
	{% if books %}
	<div class="row">
	<div class="span12">
	<h2 class="page_title">Libros más recientes:</h2>
		{% for bk in books %}
			{% if loop.index in [1,5,9] %}
			<div class="row">
			{% endif %}
			
			<div class="span3 another_book">
				
				<div class="span3 book_title"><a href="/book/{{ bk.slug }}/">{{ bk.title }}</a></div>
				<div class="span3 book_author"><a href="/book/{{ bk.slug }}/">{{ bk.author }}</a></div>

				<div class="span3">
					{% if bk.urlfile %}
						<img class="lilcover" src="{{ bk.urlfile }}" />
					{% endif %}
				</div>
			</div>
			
			{% if loop.index in [4, 8, 12] %}
			</div>
			{% else %}
				{% if loop.last %}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	</div>
	{% endif %}
	
{% endblock %}
