{% extends "base.html" %}

{% block title %}Gestión de Usuarios{% endblock %}

{% block content %}
	<div class="row"><div class="span12">
	{% if user %}
	<div class="row"></div>
		<h2 class="page_title">{{ user.username }}</h2>
		<h3 class="page_subtitle">{{ user.email }}</h3>
	</div>
	{% else %}
	<div class="row">
		<div class="span12">
			<h3 class="page_title">Cree un nuevo usuario:</h3>
			<form action="." method="post">
				Nombre de usuario:
				<div class="form_field">
					<input type="text" name="username"/>
				</div>
				Email:
				<div class="form_field">
					<input type="text" name="email"/>
				</div>
				Password:
				<div class="form_field">
					<input type="password" name="password"/>
				</div>
				<input class="btn btn-primary" type="submit" value="Enviar" />
			</form>
		</div>
	</div>
	{% endif %}
	</div></div>
	
{% endblock %}
